header {
  background-color: aquamarine;
  display: grid;
  place-items: center; }

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 80% auto; }

main > p {
  background-color: chocolate; }

footer {
  background-color: pink;
  display: flex; }

a:visited {
  color: antiquewhite;
  text-decoration: none; }
