// Color variables

$color-primary: lightseagreen;
$color-primary-light: rgb(46, 235, 225);
$color-primary-dark: rgb(26, 153, 147);

$color-secondary: pink;
$color-secondary-light:  rgb(247, 211, 217);
$color-secondary-dark: rgb(209, 140, 151);

$color-tertiary: antiquewhite;
$color-tertiary-light: rgb(240, 229, 216);
$color-tertiary-dark: rgb(245, 218, 180);

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;

//Font sizes

$default-font-size: 1.6rem;

//Fonts

$font-cursive: 'Cedarville Cursive', cursive;
$font-hachi: 'Hachi Maru Pop', cursive;
$font-yusei: 'Yusei Magic', sans-serif;