// Color variables

$color-primary: #00bfb2;
$color-primary-light: rgb(46, 235, 225);
$color-primary-dark: rgb(26, 153, 147);

$color-secondary: #457b9d;
$color-secondary-light:#88dadc;
$color-secondary-dark: #1d3557;

$color-tertiary: rgb(214, 242, 255);
$color-tertiary-light: rgb(224, 247, 248);
$color-tertiary-dark: rgb(176, 240, 245);

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;

//Font sizes

$default-font-size: 1.6rem;

//Fonts

$font-cursive: "Euphoria Script", cursive;
$font-serif: 'Prata', serif;
$font-sans-serif: "'Open Sans Condensed", sans-serif;
