// Color variables

$color-primary: none;
$color-primary-light: none;
$color-primary-dark: none;

$color-secondary-light: none;
$color-secondary-dark: none;

$color-tertiary-light: none;
$color-tertiary-dark: none;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;

//Font sizes

$default-font-size: 1.6rem;