footer {
  background-color: $color-secondary;
}

a {
  color: $color-tertiary;
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  flex-wrap: nowrap;
}

li {
  margin: 1rem;
}