<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./fonts/fonts.css">
  <link rel="stylesheet" href="./css/style.css">

  <title>Two Sweet Diannes</title>

</head>

<body>
  <header class="header">
    <div class="header__logo-box">
      <img src="./img/logo.jpg" alt="Logo" class="header__logo">
    </div>
    <div class="header__text-box">
      <h1 class="heading-primary">
        <span class="heading-primary--main">Two Sweet Diannes</span>
        <span class="heading-primary--sub">Two friends, one shared middle name. Lots of cookies.</span>
      </h1>

      <a href="#" class="btn btn--white btn--animated">Browse Samples</a>
    </div>
  </header>

  <main>
    <section class="section-about">
      <div class="about-row">
        <div class="container">
          <div class="about-picture">
            <img src="./img/winter-collage.jpg" alt="several cookie samples" class="about-picture__img">
          </div>
          <div class="about-text">
            <h2 class="about-text__header">About Us</h2>
            <div class="about-text__paragraph">
              <p>Two Sweet Dian(n)es is a baking company started by two friends who share a middle name and a love for
                cookies.</p><br>
              <p>Custom sugar cookies for your event (or even just to enjoy on your own! We won’t tell!). Shipping
                available in the continental US.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-samples">
      <div class="container col">
        <ul>
          <li><img src="./img/thank-you-pastels-close.jpg" alt="thank you cookies"></li>
          <li><img src="./img/2020-dumpster-fire.jpg" alt="2020 dumpster fire cookie"></li>
          <li><img src="./img/fall-cookies.jpg" alt="fall cookies"></li>
          <li><img src="./img/snowglobe-winter-cookies.jpg" alt="snowglobe and other winter themed cookies"></li>
          <li><img src="./img/wedding-cookies.jpg" alt="wedding cookies"></li>
          <li><img src="./img/sports-themed-cook.jpg" alt="sports themed cookies"></li>
        </ul>

      </div>
    </section>

    <section class="section-contact">
      <h2>Contact</h2>
      <div class="container">
        <img src="img/frosting-bags.jpg" alt="">
        <form action="#" method="post">
          <div class="order-details">
            <input type="text" class="name-input" placeholder="Name" name="name" required>
            <input type="text" class="email-input" placeholder="Email" name="email" required>
            <input type="date" class="date-input" placeholder="Date Required" name="date" required>
            <input type="number" class="quantity-input" placeholder="Quantity Requested" name="quantity" required>
            <input type="text" class="theme-input" placeholder="Theme or Event" name="theme" required>
            <div class="shipping-radios">
              <input type="radio" id="shipped" name="shipOrNo" value="ship" class="radio-selectors">
              <label for="shipped">I need my order shipped.</label><br>
              <input type="radio" id="noship" name="shipOrNo" value="noShip" class="radio-selectors">
              <label for="noship">I don't need my order shipped.</label>
            </div>
            <textarea class="message-input" placeholder="Enter Message" name="message" required></textarea>
          </div>
          <button type="submit" class="btn submit-input" name="submit">Submit</button>
        </form>
      </div>
    </section>

  </main>

  <footer>
    <ul>
      <li> <a href="https://www.instagram.com/twosweetdiannes/?hl=en"><img src="./img/instagram.svg"
            alt="link to Instagram page"></a> </li>
      <li> <a href="https://www.facebook.com/twosweetdiannes"><img src="./img/facebook.svg" alt=""></a> </li>
      <!-- <li> <a href=""><img src="./img/email2.svg" alt=""></a></li> -->
    </ul>
  </footer>

</body>

</html>