body {
  font-family: $font-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-tertiary;
}

.heading-primary {
  color: $color-tertiary;
  // text-transform: uppercase;

  /* prevents "shake" from happening with animation */
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    font-family: $font-cursive;
    display: block;
    font-size: 10rem;
    font-weight: 400;
    // letter-spacing: .4rem;
    animation-name: moveInLeft;
    animation-duration: 4s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }

    /* animation-delay: ;
        animation-timing-function: ;
        animation-iteration-count: ; */
  }

  &--sub {
    display: block;
    font-size: 2.7rem;
    font-weight: 400;
    font-family: $font-serif;
    letter-spacing: 0.2rem;
    animation: moveInRight 4.3s ease-out;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}
