//About section

.section-about {
  color: $color-white;
  background-color: $color-secondary-light;
  padding: 25rem 0;
  margin-top: -20vh;
}

.about-row {
  margin: 0 10rem;
}

.about-picture {
  position: relative;
  width: 70rem;

  &__img {
    height: 40rem;
    width: 40rem;
    @include absCenter;
  }
}

.about-text {
  font-size: 2.5rem;
  width: 70rem;

  &__header {
    margin-bottom: 3rem;
    border-bottom: solid 1px $color-primary;
  }

  &__divider {
  }

  &__paragraph {
  }

  &__button {
  }
}
