input, textarea, select {
  border-radius: .6rem;
  margin: .5rem;
  padding: .8rem;
  font-family: $font-sans-serif;
}

form {
  
}

.header2 {
  display: flex;
  justify-content: center;
  height: 90vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(/img/cookie-houses.jpg);

  background-size: cover;
  background-position: top;
  position: relative;

}

.order {
  text-decoration: none;
  color: white;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 35%;
  background-color: $color-secondary-dark;
  padding: 3rem;
  font-size: 2rem;
  font-family: $font-sans-serif;
  border-radius: 2rem;
  // box-shadow: 1rem 1rem 2rem $color-black;

  ul {
    list-style: none;
    flex-wrap: wrap;
    width: 100%;

    li {
      margin: 2rem;
      text-align: center;
      
      a {
        text-decoration: none;
        color: $color-primary-light;
        font-size: 5rem;
        min-height: 15px;

        &:hover {
          color: $color-white;
        }
      }
    }
  }
}

.cookie-options {
  width: 60%;
}